<h1> Add TimeZone </h1>

  <%= form_tag do %>
    <%= label_tag :country %>
    <%= text_field_tag :country %>
    <%= label_tag :region %>
    <%= text_field_tag :region %>
    <%= submit_tag %>
  <% end %>